* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(/asset/landing-page.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.container {
  width: auto;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
  color: black;
}
.container h1 {
  font-size: 35px;
  text-align: center;
}
form {
  width: 500px;
  height: auto;
  border-radius: 20px;
  padding: 80px 40px;
}

.container .input-box {
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 10);
  border-radius: 40px;
  font-size: 20px;
  color: #000000;
  padding: 20px 35px;
}
.input-box input::placeholder {
  color: black;
}
.container .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: -15px 0 15px;
}
.remember-forgot a {
  color: #000000;
  text-decoration: none;
}
.remember-forgot .checkbox {
  width: 30px;
}
.remember-forgot a:hover {
  text-decoration: underline;
}
.remember-forgot label input {
  accent-color: #000000;
  margin-right: 3px;
}

.container .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 10);
  cursor: pointer;
  font-size: 20px;
  color: black;
  font-weight: 600;
}
.container .btn:hover {
  background-color: #3c8995;
}
.container .registrasi {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}
.container .registrasi-link {
  color: #000000;
}

.registrasi p a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}
.registrasi p a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 500px;
  }
  .container h1 {
    font-size: 30px;
    text-align: center;
  }
  .form {
    width: 200px;
    height: auto;
    border-radius: 20px;
    padding: 80px 40px;
  }
}

/* CSS for mobile phones */
@media only screen and (max-width: 570px) {
  .container {
    width: 400px;
    height: 400px;
  }
  .container h1 {
    font-size: 20px;
    align-items: center;
  }
  .input-box {
    margin-bottom: 10px;
  }
  .remember-forgot {
    flex-direction: column;
    align-items: flex-start;
  }
  form {
    width: 400px;
    height: 300px;
    padding: 50px 40px;
  }
  .container .input-box {
    width: 320px;
    height: 30px;
  }
  .input-box input {
    width: 320px;
    height: 30px;
    padding: 10px;
    font-size: 18px;
  }
  .container .btn {
    width: 320px;
    height: 30px;
    background: #fff;
    font-size: 20px;
    color: black;
    font-weight: 600;
  }
  .remember-forgot .checkbox {
    width: 10px;
  }
  .registrasi p,
  a,
  label {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
  }
}
